:root{
    color-scheme: light dark;
}

*{
    font-family: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: light-dark(white,black);
}

nav{
    background: linear-gradient(light-dark(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.8)) ,light-dark(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)));
    padding: 1em 8em;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    position: fixed;
    top: 0;
}

header{
    background: linear-gradient(light-dark(rgba(255, 255, 255, .1), rgba(0, 0, 0, 0.7)), light-dark(rgba(255, 255, 255, .1), rgba(0, 0, 0, 0.7))), url("https://images.unsplash.com/photo-1561740868-f9741f389203?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center;
    background-size: cover;
    color: white;
    text-shadow: 0 0.05rem 0.1rem light-dark(rgba(255, 255, 255, .1), rgba(0, 0, 0, 0.7));
    box-shadow: inset 0 0 5rem light-dark(rgba(255, 255, 255, .1), rgba(0, 0, 0, 0.7));
    padding: 1em 2em;
    margin-top: .8em;
    font-size: 5rem;
    font-weight: 500;
}

header p{
    margin: 0;
    text-shadow: 0 0 1em light-dark(rgba(0, 0, 0, 1), none);
}

section{
    display: flex;
    padding: 2em 10em 0em 10em;
    justify-content: space-between;
    align-items: start;
    
}

.info{
    width: 70%;
}

.info h1{
    margin: 0 0 .5em 0;
    font-size: 4rem;
    font-weight: 400;
}

.info p{
    margin: 0 0 0 0;
    font-size: 1.4rem;
}

.price{
    text-align: right;
}

.price p{
    font-size: 1.5rem;
    margin: 0em;
}

.price .change{
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.price strong{
    background: #006613;
    padding: 0em .7em;
    font-size: 2.5rem;
    font-weight: 500;
    border-radius: .1em;
    color: white;
}

.price .closed-price{
    font-size: 3rem;
    margin: 0;
}

.price .company{
    margin-top: .5em;
    font-size: 1rem;
}

.price .company-name{
    font-size: 3rem;
}

.future{
    padding: 0em 10em 1em 10em;
    display: flex;
    flex-direction: column;
}

.future h2{
    font-weight: 500;
    margin: 1em 0 .5em 0;
}

.future-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-data{
    margin-bottom: 1em;
}

.future-input{
    display: flex;
    justify-content: space-between;
}

.output strong{
    font-weight: 300;
}

label{
    font-size: .9em;
    display: block;
    padding: 0 0 .2em .3em;
    margin-bottom: .1em;
    font-weight: 300;
}

input{
    border: none;
    border-radius: .2em;
    padding: .8em 1em;
    background: light-dark(#eeeeee, #222222);
    width: 19em;
}

.future-form p{
    margin: 0;
}

.prediction{
    display: flex;
    justify-content: space-between;
}

.prediction output{
    margin-left: 1em;
}

.prediction p{
    font-size: 3rem;
    margin: 0;
}

button{
    background: linear-gradient(light-dark(rgb(39, 205, 255),#0fb8fb), light-dark(#00aade,#006ace));
    border: none;
    border-radius: .2em;
    font-size: 1.2rem;
    color: white;
    margin-top: 1em;
    padding: .25em 1em;
    transition: box-shadow 300ms ease-in-out;
    /* width: 100%; */
}

button:hover{
    background: linear-gradient(light-dark(rgb(39, 205, 255),#0fb8fb), light-dark(#00aade,#006ace));;
    box-shadow: 0 0 1.5em light-dark(#7fdafe,#0099ff);
}

footer{
    padding: 1em 12em;
    margin: 0;
    background-color: light-dark(#eeeeee,#222222);
    color: light-dark(#939393, #505050);
    font-size: .8rem;
    font-weight: 500;
}

@media (max-width: 1460px) {
    input{
        width: 100%;
    }
}

@media (max-width: 1210px) {
    section, .future-input, .prediction{
        display: flex;
        flex-direction: column;
    }

    .info{
        margin-bottom: 1em;
    }

    .info h1{
        margin: 0;
    }

    .info p{
        font-size: 1rem;
    }

    .price{
        text-align: left;
    }

    .price strong{
        text-align: center;
    }

    input{
        width: 90%;
    }

    .input1{
        margin-bottom: .7em;
    }

    output{
        width: 100%;
        margin-bottom: 1em;
        border-radius: .5em;
    }
    .prediction{
        columns: 10em;
    }
}

@media (max-width: 940px) {
    
    .future, section, nav{
        padding: 1em 4em;
    }

    header{
        padding: .5em .8em;
    }
    
    .info{
        margin-bottom: 1em;
    }

    .info h1{
        margin: 0;
    }

    .info p{
        font-size: 1rem;
    }
    
    input{
        width: 90%;
    }

    .input1{
        margin-bottom: .7em;
    }

    footer{
        padding: 1em 4em;
    }

    .future{
        padding-top: 0;
    }

    .future h2{
        margin: 0em 0 .2em 0;
    }
}

@media (max-width: 650px) {

    .future, section, nav{
        padding: 1em 2em;
    }

    header{
        padding: .5em .4em;
    }

    .info{
        margin-bottom: 1em;
    }

    .info h1{
        margin: 0;
    }
    
    .info p{
        font-size: 1rem;
    }

    .future{
        padding-top: 0;
    }

    .future h2{
        margin: 0em 0 .2em 0;
    }

    input{
        width: 90%;
    }

    .input1{
        margin-bottom: .5em;
    }

    footer{
        padding: 1em 2em;
    }
}